.git/
.settings/
.classpath
.project

/atp-biz/.git/
/atp-biz/target/
/atp-biz/.settings/
/atp-biz/.classpath
/atp-biz/.project

/atp-dao/.git/
/atp-dao/target/
/atp-dao/.settings/
/atp-dao/.classpath
/atp-dao/.project

/atp-model/.git/
/atp-model/target/
/atp-model/.settings/
/atp-model/.classpath
/atp-model/.project

/atp-web/.git/
/atp-web/target/
/atp-web/.settings/
/atp-web/.classpath
/atp-web/.project

