body{background: #2c2e2f;}
.loginwrap{width: 1000px;height: 480px;position: absolute;left: 50%;top:50%;margin-left: -500px;margin-top: -240px;}
.login-left{width: 400px;height: 480px;background: url("../images/loginpic_03.jpg") no-repeat center center;float: left;}
.login-right{width: 600px;height: 480px;float:left;}
.loginwap{width: 440px;height: 250px;border: 1px solid #f1b520;margin: 0 auto;margin-top: 100px;position: relative;border-radius: 5px;-webkit-border-radius: 5px;}
.loginwap h3{margin: 0;padding: 0;width: 320px;margin: -30px auto;}
.loginwap h3 img{width: 100%;}
.loginwap .logink{margin-top: 50px;width: 440px;height: 190px;}
.loginwap .logink ul{margin: 0;padding: 0;width: 440px;}
.loginwap .logink ul li{width: 440px;height: 30px;list-style: none;}
.loginwap .logink ul li span{width: 150px;height: 30px;display: block;float: left;text-align: right;color:#FFFFFF;line-height: 30px;}
.loginwap .logink ul li input{float: left;margin-left: 10px;width: 180px;height: 30px;border: 1px solid #ffba02;text-indent: 5px;border-radius: 3px;-webkit-border-radius: 3px;line-height: 30px;}
.loginwap .logink ul li p{width: 200px;line-height: 30px;color:#cd0412;float: left;text-indent: 10px;margin: 0;padding: 0;}
.loginwap .logink ul li a{float: left;width: 180px;height: 30px;display: block;float: left;background: #f9ac02;margin-left: 10px;text-align: center;line-height: 30px;color:#FFFFFF;text-decoration: none;padding: 0;border-radius: 3px;-webkit-border-radius: 3px;line-height: 30px;}

