<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.uusoft.atp.dao.TestSuiteMapper">
	<resultMap id="BaseResultMap" type="com.uusoft.atp.model.TestSuiteInfo" >
	    <result column="SUITE_ID" property="suite_id" jdbcType="INTEGER" />
	    <result column="METHOD_ID" property="method_id" jdbcType="INTEGER" />
	    <result column="SUITE_DES" property="suite_des" jdbcType="VARCHAR" />
	    <result column="IS_RUN" property="is_run" jdbcType="INTEGER" />
	    <result column="CREATE_DATE" property="create_date" jdbcType="TIMESTAMP" />
	    <result column="UPDATE_DATE" property="update_date" jdbcType="TIMESTAMP" />
	    <result column="IS_DEL" property="is_del" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List" >
    	SUITE_ID, METHOD_ID, SUITE_DES, IS_RUN, CREATE_DATE, UPDATE_DATE, IS_DEL
  	</sql>
	
	<insert id="insert" parameterType="com.uusoft.atp.model.TestSuiteInfo" useGeneratedKeys="true" keyProperty="test_id">
		insert into TEST_SUITE (METHOD_ID, SUITE_DES, IS_RUN,CREATE_DATE, is_del)
			 values (#{method_id}, #{suite_des}, #{is_run}, now(), 0)
	</insert>
	
	<select id="selectBySuiteId" resultMap="BaseResultMap">
		select 
    	<include refid="Base_Column_List" />
   		from TEST_SUITE
   		<where>
   			IS_DEL = 0
   			<if test="suite_id != null">
   				and SUITE_ID = #{suite_id,jdbcType=INTEGER}
   			</if>
   		</where>
	</select>
	
	<select id="selectByMethodId" resultMap="BaseResultMap">
		select 
    	<include refid="Base_Column_List" />
   		from TEST_SUITE
   		<where>
   			IS_DEL = 0
   			<if test="method_id != null">
   				and METHOD_ID = #{method_id,jdbcType=INTEGER}
   			</if>
   		</where>
	</select>
	
	<select id="selectByServiceId" resultMap="BaseResultMap">
		SELECT A.SUITE_ID,A.METHOD_ID,SUITE_DES,A.IS_RUN 
		FROM TEST_SUITE A,TEST_METHOD B, TEST_SERVICE C
		<where>
			A.METHOD_ID = B.METHOD_ID 
			AND B.SERVICE_ID = C.SERVICE_ID
			AND A.IS_DEL = 0
			<if test="service_id != null">
				AND C.SERVICE_ID = #{service_id,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		select 
    	<include refid="Base_Column_List" />
   		from TEST_SUITE
   		where IS_DEL = 0
	</select>
	
	<update id="update" parameterType="com.uusoft.atp.model.TestSuiteInfo">
		update TEST_SUITE
        set 
        	SUITE_DES = #{suite_des,jdbcType=VARCHAR},
        	IS_RUN = #{is_run,jdbcType=INTEGER}
        where SUITE_ID = #{suite_id,jdbcType=INTEGER}
	</update>
	
	<update id="deleteById">
		update TEST_SUITE
        set IS_DEL = 1
        where SUITE_ID = #{suite_id,jdbcType=INTEGER}
	</update>
	
	<select id="selectCanRunByMethodId" resultMap="BaseResultMap">
		select 
    	<include refid="Base_Column_List" />
   		from TEST_SUITE
   		<where>
   			IS_DEL = 0 
   		and IS_RUN = 1
   			<if test="method_id != null">
   				and METHOD_ID = #{method_id,jdbcType=INTEGER}
   			</if>
   		</where>
	</select>
	
</mapper>