<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.uusoft.atp.dao.TestCaseMapper">
	<resultMap id="BaseResultMap" type="com.uusoft.atp.model.TestCaseInfo" >
	    <result column="CASE_ID" property="case_id" jdbcType="INTEGER" />
	    <result column="CASE_TYPE" property="case_type" jdbcType="INTEGER" />
	    <result column="SUITE_DES" property="suite_des" jdbcType="INTEGER" />
	    <result column="SUITE_ID" property="suite_id" jdbcType="INTEGER" />
	    <result column="METHOD_ADDRESS" property="method_address" jdbcType="VARCHAR" />
	    <result column="CASE_DES" property="case_des" jdbcType="VARCHAR" />
	    <result column="CASE_DATA" property="case_data" jdbcType="VARCHAR" />
	    <result column="CASE_ASSERT_TYPE" property="case_assert_type" jdbcType="INTEGER" />
	    <result column="CASE_ASSERT_VALUE" property="case_assert_value" jdbcType="VARCHAR" />
	    <result column="BEFORE_RUN_TYPE" property="before_run_type" jdbcType="INTEGER" />
	    <result column="BEFORE_RUN" property="before_run" jdbcType="INTEGER" />
	    <result column="AFTER_RUN_TYPE" property="after_run_type" jdbcType="INTEGER" />
	    <result column="AFTER_RUN" property="after_run" jdbcType="INTEGER" />
	    <result column="CASE_RUN_NUM" property="case_run_num" jdbcType="INTEGER" />
	    <result column="CREATE_DATE" property="create_date" jdbcType="TIMESTAMP" />
	    <result column="UPDATE_DATE" property="update_date" jdbcType="TIMESTAMP" />
	    <result column="IS_DEL" property="is_del" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List" >
    	CASE_ID, CASE_TYPE, SUITE_ID, METHOD_ADDRESS, CASE_DES, CASE_DATA, CASE_ASSERT_TYPE, CASE_ASSERT_VALUE, BEFORE_RUN_TYPE, BEFORE_RUN, AFTER_RUN_TYPE, AFTER_RUN, CASE_RUN_NUM, CREATE_DATE, UPDATE_DATE, IS_DEL
  	</sql>
	
	<insert id="insert" parameterType="com.uusoft.atp.model.TestCaseInfo">
		insert into TEST_CASE (SUITE_ID, CASE_TYPE, METHOD_ADDRESS, CASE_DES, CASE_DATA, CASE_ASSERT_TYPE, CASE_ASSERT_VALUE, BEFORE_RUN_TYPE, BEFORE_RUN, AFTER_RUN_TYPE, AFTER_RUN, CASE_RUN_NUM, CREATE_DATE, IS_DEL)  
		values (#{suite_id}, #{case_type}, #{method_address}, #{case_des}, #{case_data}, #{case_assert_type}, #{case_assert_value}, #{before_run_type}, #{before_run}, #{after_run_type}, #{after_run}, #{case_run_num}, now(), 0)
	</insert>
	
	<select id="selectByCaseId" resultMap="BaseResultMap">
		SELECT A.CASE_ID,A.CASE_TYPE,A.SUITE_ID,B.SUITE_DES,A.METHOD_ADDRESS,A.CASE_DES,A.CASE_DATA,A.CASE_ASSERT_TYPE,A.CASE_ASSERT_VALUE,A.BEFORE_RUN_TYPE,A.BEFORE_RUN,A.AFTER_RUN_TYPE,A.AFTER_RUN,A.CASE_RUN_NUM,A.CREATE_DATE,A.UPDATE_DATE,A.IS_DEL 
		FROM TEST_CASE A, TEST_SUITE B
			<where> A.SUITE_ID = B.SUITE_ID
				AND A.IS_DEL = 0
				AND B.IS_DEL = 0
				<if test="case_id != null">
					AND A.CASE_ID = #{case_id,jdbcType=INTEGER}
				</if>
			</where>
	</select>
	
	<select id="selectBySuiteId" resultMap="BaseResultMap">
		SELECT A.CASE_ID,A.CASE_TYPE,A.SUITE_ID,B.SUITE_DES,A.METHOD_ADDRESS,A.CASE_DES,A.CASE_DATA,A.CASE_ASSERT_TYPE,A.CASE_ASSERT_VALUE,A.BEFORE_RUN_TYPE,A.BEFORE_RUN,A.AFTER_RUN_TYPE,A.AFTER_RUN,A.CASE_RUN_NUM,A.CREATE_DATE,A.UPDATE_DATE,A.IS_DEL
		FROM TEST_CASE A, TEST_SUITE B
			<where> A.SUITE_ID = B.SUITE_ID
				AND A.IS_DEL = 0
				AND B.IS_DEL = 0
				<if test="suite_id != null">
					AND b.SUITE_ID = #{suite_id,jdbcType=INTEGER}
				</if>
				ORDER BY A.CASE_RUN_NUM ASC
			</where>
	</select>
	
	<select id="selectByMethodId" resultMap="BaseResultMap">
		SELECT A.CASE_ID,A.CASE_TYPE,A.SUITE_ID,B.SUITE_DES,A.METHOD_ADDRESS,A.CASE_DES,A.CASE_DATA,A.CASE_ASSERT_TYPE,A.CASE_ASSERT_VALUE,A.BEFORE_RUN_TYPE,A.BEFORE_RUN,A.AFTER_RUN_TYPE,A.AFTER_RUN,A.CASE_RUN_NUM,A.CREATE_DATE,A.UPDATE_DATE,A.IS_DEL
		FROM TEST_CASE A,TEST_SUITE B,TEST_METHOD C
			<where> A.SUITE_ID = B.SUITE_ID
				AND B.METHOD_ID = C.METHOD_ID
				AND A.IS_DEL = 0
				AND B.IS_DEL = 0
				AND C.IS_DEL = 0
				<if test="method_id != null">
					AND C.METHOD_ID = #{method_id,jdbcType=INTEGER}
			</if>
			</where>
	</select>
	
	<select id="selectByServiceId" resultMap="BaseResultMap">
		SELECT A.CASE_ID,A.CASE_TYPE,A.SUITE_ID,B.SUITE_DES,A.METHOD_ADDRESS,A.CASE_DES,A.CASE_DATA,A.CASE_ASSERT_TYPE,A.CASE_ASSERT_VALUE,A.BEFORE_RUN_TYPE,A.BEFORE_RUN,A.AFTER_RUN_TYPE,A.AFTER_RUN,A.CASE_RUN_NUM,A.CREATE_DATE,A.UPDATE_DATE,A.IS_DEL
		FROM TEST_CASE A,TEST_SUITE B,TEST_METHOD C, TEST_SERVICE D
		<where> A.SUITE_ID = B.SUITE_ID
			AND B.METHOD_ID = C.METHOD_ID
			AND C.SERVICE_ID = D.SERVICE_ID
			AND A.IS_DEL = 0
			AND B.IS_DEL = 0
			AND C.IS_DEL = 0
			AND D.IS_DEL = 0
			<if test="service_id != null">
				AND D.SERVICE_ID = #{service_id,jdbcType=INTEGER}
			</if>
   		</where>
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT A.CASE_ID,A.CASE_TYPE,A.SUITE_ID,B.SUITE_DES,A.METHOD_ADDRESS,A.CASE_DES,A.CASE_DATA,A.CASE_ASSERT_TYPE,A.CASE_ASSERT_VALUE,A.BEFORE_RUN_TYPE,A.BEFORE_RUN,A.AFTER_RUN_TYPE,A.AFTER_RUN,A.CASE_RUN_NUM,A.CREATE_DATE,A.UPDATE_DATE,A.IS_DEL 
		FROM TEST_CASE A, TEST_SUITE B
		<where> A.SUITE_ID = B.SUITE_ID
			AND A.IS_DEL = 0
			AND B.IS_DEL = 0
		</where>
	</select>
	
	<update id="update" parameterType="com.uusoft.atp.model.TestCaseInfo">
		update TEST_CASE
        set 
        	CASE_TYPE = #{case_type,jdbcType=INTEGER},
        	CASE_DES = #{case_des,jdbcType=VARCHAR},
        	METHOD_ADDRESS = #{method_address,jdbcType=VARCHAR},
        	CASE_DATA = #{case_data,jdbcType=VARCHAR},
        	CASE_ASSERT_TYPE = #{case_assert_type,jdbcType=INTEGER},
        	CASE_ASSERT_VALUE = #{case_assert_value,jdbcType=VARCHAR},
        	BEFORE_RUN_TYPE = #{before_run_type,jdbcType=INTEGER},
        	BEFORE_RUN = #{before_run,jdbcType=INTEGER},
        	AFTER_RUN_TYPE = #{after_run_type,jdbcType=INTEGER},
        	AFTER_RUN = #{after_run,jdbcType=INTEGER},
        	CASE_RUN_NUM = #{case_run_num,jdbcType=INTEGER}
        where CASE_ID = #{case_id,jdbcType=INTEGER}
	</update>
	
	<update id="deleteById">
		update TEST_CASE
        set IS_DEL = 1
        where CASE_ID = #{case_id,jdbcType=INTEGER}
	</update>
	
</mapper>